<div class="center hero-unit">
	<h1>Welcome to Ubuntu Blog</h1>
	<p><%= link_to "Зарегестрирйся сейчас!", signup_path, class: "btn btn-large btn-primary" %></p>
	<p><%= link_to "Статьи", controller: "posts" %></p>
</div>
