<footer class="footer">
	<small>
		<a href="mailto:nirm@bk.ru">Contact me by nirm@bk.ru</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '/static_pages/about' %></li>
			<li><%= link_to "Help", '/static_pages/help' %></li>
		</ul>
	</nav>
</footer>